.DS_Store
.aidevops.json
.aidevops/
.agents/commands
.agents/loop-state/
.agents/memory/
.agents/tmp/
.beads/*
!.beads/.gitignore
!.beads/config.yaml
!.beads/metadata.json
.claude/
.windsurf/
CLAUDE.md
